* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

/* Products Section */
.task-section {
    width: 75%;
    padding: 20px;
    overflow-y: auto;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.task {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

    .task:hover {
        transform: scale(1.05);
    }

/* Cart Section */
.history-section {
    width: 25%;
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 20px;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.history-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .history-item:hover {
        transform: scale(1.05);
    }

.history-summary {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#checkout-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    #checkout-button:hover {
        background-color: #0056b3;
    }
